:root {
  --main-bg-color: brown; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: lightgray; }

::selection {
  background-color: #ffdd59;
  color: #fff; }

.container {
  display: grid;
  grid-template-rows: [nav-start] 7rem [nav-end header-start] 90vh [header-end about-start] minmax(100vh, min-content) [about-end resume-start] minmax(100vh, min-content) [resume-end contact-start] minmax(100vh, min-content) [contact-end footer-start] 8rem [footer-end];
  max-width: 120rem;
  margin: 2rem auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 75em) {
    .container {
      margin-top: 0rem;
      margin-bottom: 0rem; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: [header-start] 90vh [header-end about-start] minmax(100vh, min-content) [about-end resume-start] minmax(100vh, min-content) [resume-end contact-start] minmax(100vh, min-content) [contact-end footer-start] 8rem [footer-end]; } }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer; }

.footer {
  grid-area: 6/1/7/1;
  background-color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #73bccb; }

.header {
  grid-area: header-start/1/header-end/1;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../../picture/laptop4.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__info-container {
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    border-radius: 2rem;
    width: fit-content;
    width: -moz-fit-content;
    padding: 3rem;
    margin-top: 10%;
    color: #fff; }
  .header__heading {
    font-size: 6rem;
    line-height: 120%; }
  .header__secondary {
    font-size: 3.2rem; }
  .header__btn {
    margin-top: 5rem;
    background-color: #ffdd59;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #000;
    font-size: 1.6rem;
    transition: filter .5s ease; }
    .header__btn:hover {
      filter: brightness(80%); }

.nav {
  grid-area: nav-start/1/nav-end/1;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 2.4rem;
  z-index: 10; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      display: none; } }
  .nav__logo-container {
    background-color: #393939;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .nav__logo-container {
        display: none; } }
  .nav__logo {
    margin-left: 1rem;
    background-image: url(../../picture/SVG/JE-Logo-blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 5.5rem;
    height: 5.5rem; }
  .nav__logo:hover {
    background-image: url(../../picture/SVG/JE-Logo-yellow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 5.5rem;
    height: 5.5rem; }

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  list-style-type: none; }
  .nav-links__link:link, .nav-links__link:visited {
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #73bccb; }
  .nav-links__item {
    background-color: #393939;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer; }
  .nav-links__item:hover a span {
    color: #ffdd59; }

.active {
  color: #ffdd59; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 120rem; }

.dropdown {
  display: inline-block;
  position: relative; }

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #393939;
  padding: 0 1rem; }
  .dropdown-content__link {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #73bccb; }
  .dropdown-content__item:hover .dropdown-content__link {
    color: #ffdd59; }

.dropdown:hover .dropdown-content {
  display: block; }

.show {
  display: block; }

.activeP {
  background-color: rgba(0, 0, 0, 0.4); }

.nav-hamburger {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .nav-hamburger {
      display: block; } }
  .nav-hamburger__drawer {
    position: fixed;
    top: 0;
    right: -500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 100vh;
    width: 40%;
    padding-top: 5rem;
    padding-left: 2rem;
    background-color: #17427D;
    z-index: 1000;
    transition: right 0.3s ease-in-out; }
  .nav-hamburger__checkbox:checked ~ .nav-hamburger__drawer {
    right: 0; }
  .nav-hamburger__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 2.4rem; }
  .nav-hamburger__link:link, .nav-hamburger__link:visited {
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: bold;
    color: #73bccb;
    text-decoration: none;
    text-transform: uppercase; }
  .nav-hamburger__item {
    width: 100%;
    display: flex;
    align-items: center; }
  .nav-hamburger__item .nav-hamburger__link span:hover {
    color: #ffdd59; }
  .nav-hamburger__logo-container {
    background-color: #17427D;
    width: 100%;
    display: flex;
    align-items: center; }
  .nav-hamburger__logo {
    background-image: url(../../picture/SVG/JE-Logo-blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 1rem;
    width: 10rem;
    height: 10rem; }
  .nav-hamburger__logo:hover {
    background-image: url(../../picture/SVG/JE-Logo-yellow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10rem;
    height: 10rem; }
  .nav-hamburger__checkbox {
    display: none; }
  .nav-hamburger__button {
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 7rem;
    width: 7rem;
    text-align: center;
    cursor: pointer;
    z-index: 2000; }
  .nav-hamburger__background {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    height: 6rem;
    width: 6rem;
    z-index: 1000;
    transition: transfrom 0.8s cubic-bezier(0.87, 0, 0.07, 1); }
  .nav-hamburger__icon {
    position: relative;
    margin-top: 3.5rem; }
    .nav-hamburger__icon, .nav-hamburger__icon::before, .nav-hamburger__icon::after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: #17427D; }
    .nav-hamburger__icon::before, .nav-hamburger__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .nav-hamburger__icon::before {
      top: -0.8rem; }
    .nav-hamburger__icon::after {
      top: 0.8rem; }
  .nav-hamburger__button:hover .nav-hamburger__icon::before {
    top: -1rem; }
  .nav-hamburger__button:hover .nav-hamburger__icon::after {
    top: 1rem; }
  .nav-hamburger__checkbox:checked + .nav-hamburger__button .nav-hamburger__icon,
  .nav-hamburger__checkbox:checked + .nav-hamburger__button .nav-hamburger__icon::before,
  .nav-hamburger__checkbox:checked + .nav-hamburger__button .nav-hamburger__icon::after {
    background-color: #73bccb; }
  .nav-hamburger__checkbox:checked + .nav-hamburger__button .nav-hamburger__icon {
    background-color: transparent; }
  .nav-hamburger__checkbox:checked + .nav-hamburger__button .nav-hamburger__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav-hamburger__checkbox:checked + .nav-hamburger__button .nav-hamburger__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav-hamburger__checkbox:checked + .nav-hamburger__button:hover .nav-hamburger__icon::before {
    background-color: #ffdd59; }
  .nav-hamburger__checkbox:checked + .nav-hamburger__button:hover .nav-hamburger__icon::after {
    background-color: #ffdd59; }

.skip-to-content-link {
  background: gray;
  color: #ffdd59;
  font-size: 2.5rem;
  height: 5rem;
  left: 50%;
  padding: .8rem;
  position: absolute;
  transform: translateY(-1000%);
  transition: transform 0.3s;
  z-index: 1000; }

.skip-to-content-link:focus {
  transform: translateY(0%); }

.about {
  grid-area: about-start/1/about-end/1;
  background-color: #73bccb;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about__container {
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .about__container {
        margin-left: 1rem;
        margin-right: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__container {
        flex-direction: column;
        align-items: center; } }
  .about__figure {
    padding: 3rem;
    display: flex;
    justify-content: flex-end;
    max-width: 33rem; }
  .about__profile-img {
    width: 100%;
    align-self: flex-start;
    border-radius: 5px; }
  .about__intro {
    padding: 3rem;
    max-width: 45ch;
    font-size: 2.2rem;
    line-height: 150%;
    color: white; }
    @media only screen and (max-width: 37.5em) {
      .about__intro {
        padding: 2.5rem; } }

.contact {
  grid-area: contact-start/1/contact-end/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #73bccb;
  background-image: url("../../picture/comment-resized2.png");
  background-repeat: no-repeat;
  background-position: center; }
  .contact__title {
    color: lightgray;
    opacity: .9;
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-style: italic; }
  .contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contact__form input, .contact__form textarea {
      width: 300px;
      margin-bottom: 2rem;
      padding: .8rem;
      font-size: 1.6rem;
      font-style: italic;
      background-color: lightgray;
      opacity: .9;
      text-transform: uppercase;
      border-radius: 5px;
      border-style: none; }
    .contact__form textarea {
      height: 10rem; }
    .contact__form input, .contact__form textarea:focus {
      outline-color: #ffdd59;
      outline-width: 2px; }
    .contact__form button {
      padding: 1rem 2.2rem;
      background-color: #ffdd59;
      border-radius: 1rem;
      font-size: 1.6rem;
      text-transform: uppercase;
      align-self: flex-end;
      transition: filter .5s ease; }
      .contact__form button:hover {
        filter: brightness(80%); }

.social-media {
  max-width: 25rem;
  display: flex; }
  .social-media__icon {
    fill: lightgray;
    opacity: .9;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: 0.3s ease-out; }
  .social-media a:not(:last-child) {
    margin-right: 1rem; }
  .social-media__icon:hover {
    fill: #ffdd59;
    transform: scale(1.05) translateY(-0.3rem); }

.portfolio__project-list {
  padding-top: 6rem;
  padding-bottom: 6rem;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  gap: 1.5rem; }

.project {
  perspective: 150rem;
  border-radius: 4px;
  padding: 2rem;
  width: 40rem;
  height: 42rem;
  display: flex;
  flex-direction: column;
  position: relative; }
  .project__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    background-color: rgba(115, 188, 203, 0.5);
    flex-grow: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 0.8s ease; }
    .project__side--back {
      transform: rotateY(180deg);
      overflow-y: auto; }
      .project__side--back td {
        font-size: 1.5rem;
        vertical-align: top;
        padding: 1.5rem; }
  .project:not(.disable):hover .project__side--front {
    transform: rotateY(-180deg); }
  .project:not(.disable):hover .project__side--back {
    transform: rotateY(0); }
  .project__heading {
    font-size: 2.5rem;
    text-align: center; }
  .project__video-container {
    margin: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .project__video {
    max-width: 42rem;
    transition: 0.3s ease-in; }
  .project__video:hover {
    filter: brightness(50%); }
  .project__img {
    padding: 3rem;
    width: 100%;
    max-width: 35rem; }
  .project__icon-list {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .project__icon {
    width: 4rem;
    height: 4rem;
    fill: #fff;
    transition: 0.3s ease-in-out;
    cursor: pointer; }
  .project__icon:not(:last-child) {
    margin-right: 2rem; }
  .project__icon:hover {
    fill: #ffdd59;
    transform: scale(1.05) translateY(-0.3rem); }
  .project__icon:hover ~ .project__video {
    background-color: pink;
    filter: brightness(50%); }

.project__video-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  transition: background-color 0.6s ease-in-out; }

.github {
  background-image: url(../../picture/SVG/github.svg);
  background-color: rgba(0, 0, 0, 0.2);
  background-size: 170px;
  background-repeat: no-repeat; }

.browser {
  background-image: url(../../picture/SVG/browser-window.svg);
  background-color: rgba(0, 0, 0, 0.2);
  background-size: 150px;
  background-repeat: no-repeat; }

.info {
  background-image: url(../../picture/SVG/info.svg);
  background-color: rgba(0, 0, 0, 0.2);
  background-size: 150px;
  background-repeat: no-repeat; }

.experience {
  grid-area: resume-start/1/resume-end/1;
  min-height: 100vh;
  padding-top: 9rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
  background-color: white;
  background-image: url(../../picture/oriental-tiles.png);
  background-position: top; }

.resume {
  font-size: 1.6rem; }
  .resume__list-item {
    display: flex;
    flex-direction: column;
    font-size: 2rem; }
  .resume__table {
    border-spacing: 0 15px;
    border-collapse: separate; }
  .resume__table tr td {
    vertical-align: top; }
  .resume__field {
    font-size: 3.2rem;
    font-weight: bold; }
  .resume__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-style: italic; }
  .resume__content {
    font-weight: 550;
    font-size: 2.7rem; }
  .resume__left {
    width: 40%; }
  .resume__right {
    width: 50%; }

.skills-detail {
  font-size: 2rem;
  display: flex;
  flex-direction: column; }
  .skills-detail__row {
    display: flex; }
  .skills-detail__key {
    flex-basis: 20%; }
  .skills-detail__properties {
    flex-basis: 80%; }

.experience-details {
  font-size: 2rem; }
  .experience-details > * {
    display: inline; }
  .experience-details__place, .experience-details__time {
    color: #ffdd59;
    font-weight: bold;
    text-transform: uppercase; }
  .experience-details__position {
    text-transform: uppercase;
    font-weight: bold; }
  .experience-details__experience {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside; }

.education-details {
  font-size: 2rem; }
  .education-details > * {
    display: inline; }
  .education-details__name, .education-details__time {
    color: #ffdd59;
    font-weight: bold;
    text-transform: uppercase; }
  .education-details__name-info {
    text-transform: uppercase;
    font-weight: bold; }
  .education-details__education {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside; }

.highlight {
  transition: color .3s ease-in; }

.highlight:hover {
  color: #ffdd59; }
