//COLORS
$color-primary: #ffdd59;
$color-secondary: #688DC3;
$color-secondary__light: #99B5DE;
$color-secondary__dark: #17417E;
$color-secondary__darker: #17427D;

:root {
  --main-bg-color: brown;
}

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;