.header {
  grid-area: header-start/1/header-end/1;
  
  background-image: linear-gradient(
    to right bottom,
    rgba(black,0.1),
    rgba(black, 0.2)), 
    url(../../picture/laptopAndnotepad.jpg); 
  background-attachment: fixed;
  background-size:cover;
  background-position: top;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &__info-container {
    background: linear-gradient(to right bottom, rgba(black,0.3), rgba(black,0.1));
    border-radius: 2rem;
    width: fit-content;
    width: -moz-fit-content;
    padding: 3rem;
    margin-left: 5rem;
    color: $color-white;
  }

  &__heading {
    font-size: 6rem;
    line-height: 120%;
  }
  
  &__secondary {
    font-size:3.2rem;
  }

  &__btn {
    margin-top: 5rem;

    background-color: $color-primary;
    padding: 1rem 2rem;
    border-radius: 5px;
    
    color: $color-black;
    font-size: 1.6rem;

    transition: filter .5s ease;

    &:hover{
      filter:brightness(80%);
    }
  }
}