*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  padding: 3rem;

}

::selection{
  background-color: $color-primary;
  color: $color-white;
}

.container {
  display: grid;
  grid-template-rows: 7rem 90vh repeat(6, min-content);
  grid-template-columns: 120rem;
  max-width: 120rem;
  margin: 2rem auto;
}