.about {
  grid-area: 2/1/3/2;
  background-color: pink;
  display:flex;
  // justify-content: space-around;

  &__figure {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items:center;
  }

  &__profile-img {
    padding: 3rem;
    max-width: 30rem;
    width:100%;
    border-radius: 5px;
    // display:block;
  }
  &__intro {
    font-size: 1.6rem;
    padding: 3rem;
    flex: 0 0 50%
  }
}