.about {
  grid-area: about-start/1/about-end/1;
  background-color: $color-green;
  display:flex;
  // padding-top:7rem;
  justify-content: center;
  align-items: center;
  
  &__container {
    border: 5px double $color-secondary;
    margin-left: 5rem;
    margin-right: 5rem;
    display:flex;

    @include respond(tab-port) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__figure {
    padding: 3rem;
    display: flex;
    justify-content: flex-end;
    max-width: 33rem;
  }

  &__profile-img {
    width:100%;
    align-self: flex-start;
    border-radius: 5px;
  }
  &__intro {
    padding: 3rem;
    max-width: 30ch;

    font-size: 2.2rem;
    line-height: 150%;
    color: $color-light__gray;
  
    @include respond(phone) {
     padding: 2.5rem;
    }
  }

}