.experience {
  grid-area: 4/1/5/2;
  min-height: 100vh;
  color: white;
  background-color: white;
  background-image: linear-gradient(
    to right bottom,
    rgba(black,0.7),
    rgba(black, 0.6)), 
    url(../../picture/web-developer.png);
    
    background-size:1200px;
    background-position: top;
    // background-repeat:no-repeat;
    padding-top:9rem;
    padding-left: 5rem;
  }
  .resume {
    font-size: 1.6rem;

  &__list-item{
    display: flex;
    flex-direction: column;
  }
  &__field{
    font-size:3.2rem;
    font-weight: bold;
    text-decoration: underline;
  } 
}
.skills-detail{
  font-size: 2rem;
  display:flex;
  flex-direction:column;

  &__row{
    display: flex;

  }
  &__key{
    flex-basis: 20%;
  }

  &__properties{
    flex-basis: 80%;
  }
}

.experience-details{
  font-size: 2rem;
  & > *{
    display:inline;
  }
  &__place,
  &__time{
    color: $color-primary;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__position{
    text-transform: uppercase;
    font-weight: bold;
  }

  &__experience{
    display: list-item;         
    list-style-type: disc;       
    list-style-position: inside; 
  }
}

.education-details{
  font-size: 2rem;
  & > *{
    display:inline;
  }
  &__name,
  &__time{
    color: $color-primary;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__name-info{
    text-transform: uppercase;
    font-weight: bold;
  }

  &__education{
    display: list-item;         
    list-style-type: disc;       
    list-style-position: inside; 
  }
}