.experience {
  grid-area: resume-start/1/resume-end/1;

  min-height: 100vh;
  // padding-top: 9rem;
  // padding-left: 5rem;
  // padding-right: 5rem;

  color: #e0dede;

  // background-color: white;
  // background-image:
  //   url(../../picture/oriental-tiles.png);
  // background-position: top;
}
.resume {
  background-color: $color-primary;
  color: $color-black;
  font-size: 1.6rem;
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    max-width: 75rem;
    padding: 3rem;
    border: 5px double $color-dark;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }

  &__table {
    border-spacing: 0 15px;
    border-collapse: separate;
  }

  &__table tr td {
    vertical-align: top;
  }

  &__field {
    font-size: 3.2rem;
    font-weight: bold;
    // text-decoration: underline;
  }
  &__title {
    padding-top: 2.5rem;
    font-size: 2.5rem;
    // font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
  }
  &__content {
    font-weight: 450;
    font-size: 2.7rem;
  }
  &__left {
    width: 30%;
  }
  &__right {
    width: 60%;
  }
}

.skills-detail {
  font-size: 2rem;
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
  }
  &__key {
    flex-basis: 20%;
  }

  &__properties {
    flex-basis: 80%;
  }
}

.experience-details {
  font-size: 2rem;
  & > * {
    display: inline;
  }
  &__place,
  &__time {
    color: $color-primary;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__position {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__experience {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
  }
}

.education-details {
  font-size: 2rem;
  & > * {
    display: inline;
  }
  &__name,
  &__time {
    color: $color-primary;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__name-info {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__education {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
  }
}

.highlight {
  transition: color 0.3s ease-in;
}

.highlight:hover {
  color: $color-secondary;
}
