.experience {
  grid-area: resume-start/1/resume-end/1;

  min-height: 100vh;
  padding-top: 9rem;
  padding-left: 5rem;
  padding-right: 5rem;

  color: #e0dede;

  background-color: white;
  background-image: 
    url(../../picture/oriental-tiles.png);
  background-position: top;
}
.resume {
  font-size: 1.6rem;

  &__list-item {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }

  &__table {
    border-spacing: 0 15px;
    border-collapse: separate;
  }

  &__table tr td {
    vertical-align: top;
  }

  &__field {
    font-size: 3.2rem;
    font-weight: bold;
    // text-decoration: underline;
  }
  &__title {
    font-size: 2.5rem;
    // font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
  }
  &__content {
    font-weight: 550;
    font-size: 2.7rem;
  }
  &__left {
    width: 40%;
  }
  &__right {
    width: 50%;
  }
}

.skills-detail {
  font-size: 2rem;
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
  }
  &__key {
    flex-basis: 20%;
  }

  &__properties {
    flex-basis: 80%;
  }
}

.experience-details {
  font-size: 2rem;
  & > * {
    display: inline;
  }
  &__place,
  &__time {
    color: $color-primary;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__position {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__experience {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
  }
}

.education-details {
  font-size: 2rem;
  & > * {
    display: inline;
  }
  &__name,
  &__time {
    color: $color-primary;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__name-info {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__education {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
  }
}

.highlight {
  transition: color .3s ease-in;
}

.highlight:hover {
  color: $color-primary;
}
